## 1- Look at the big picture and frame the problem.

In [ ]:
# Install require library
%pip install opendatasets

In [1]:
# Import libraries

import sklearn
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import opendatasets as od

## 2- Load the dataset

In [2]:
# Download the dataset
url = "https://www.kaggle.com/datasets/moazzimalibhatti/co2-emission-by-countries-year-wise-17502022"
od.download(url)

Downloading co2-emission-by-countries-year-wise-17502022.zip to ./co2-emission-by-countries-year-wise-17502022

100%|██████████| 280k/280k [00:00<00:00, 943kB/s]

In [10]:
# Load the dataset

file_path = "./co2-emission-by-countries-year-wise-17502022/CO2 emission by countries.csv"
countries_emissions = pd.read_csv(file_path, encoding='latin1')

### 2.1 Look at the data structure

In [11]:
countries_emissions

,Country,Code,Calling Code,Year,CO2 emission (Tons),Population(2022),Area,% of World,Density(km2)
0,Afghanistan,AF,93,1750,0.0,41128771.0,652230.0,0.40%,63/km²
1,Afghanistan,AF,93,1751,0.0,41128771.0,652230.0,0.40%,63/km²
2,Afghanistan,AF,93,1752,0.0,41128771.0,652230.0,0.40%,63/km²
3,Afghanistan,AF,93,1753,0.0,41128771.0,652230.0,0.40%,63/km²
4,Afghanistan,AF,93,1754,0.0,41128771.0,652230.0,0.40%,63/km²
...,...,...,...,...,...,...,...,...,...
59615,Zimbabwe,ZW,263,2016,736467042.0,16320537.0,390757.0,0.30%,42/km²
59616,Zimbabwe,ZW,263,2017,746048675.0,16320537.0,390757.0,0.30%,42/km²
59617,Zimbabwe,ZW,263,2018,757903042.0,16320537.0,390757.0,0.30%,42/km²
59618,Zimbabwe,ZW,263,2019,768852126.0,16320537.0,390757.0,0.30%,42/km²
59619,Zimbabwe,ZW,263,2020,779383468.0,16320537.0,390757.0,0.30%,42/km²

In [12]:
countries_emissions.describe()

               Year  CO2 emission (Tons)  Population(2022)          Area
count  59620.000000         5.962000e+04      5.311600e+04  5.528400e+04
mean    1885.000000         1.034774e+09      3.992260e+07  6.522073e+05
std       78.231085         1.041652e+10      1.482365e+08  1.865483e+06
min     1750.000000         0.000000e+00      1.131200e+04  2.100000e+01
25%     1817.000000         0.000000e+00      1.770414e+06  1.770450e+04
50%     1885.000000         0.000000e+00      8.673095e+06  1.103815e+05
75%     1953.000000         8.715092e+06      2.862920e+07  4.925730e+05
max     2020.000000         4.170000e+11      1.425887e+09  1.709824e+07

In [13]:
# Check the number of non-null values
countries_emissions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59620 entries, 0 to 59619
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country              59620 non-null  object
 1   Code                 57452 non-null  object
 2   Calling Code         56097 non-null  object
 3   Year                 59620 non-null  int64
 4   CO2 emission (Tons)  59620 non-null  float64
 5   Population(2022)     53116 non-null  float64
 6   Area                 55284 non-null  float64
 7   % of World           55284 non-null  object
 8   Density(km2)         53116 non-null  object
dtypes: float64(3), int64(1), object(5)
memory usage: 4.1+ MB

## 3 Clean the data

In [14]:
# Check for duplicate values
countries_emissions.duplicated().sum()

0