## 1- Look at the big picture and frame the problem.

In [16]:
# Import libraries

import sklearn
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## 2- Load the dataset

In [17]:
# Load the dataset

url = "https://raw.githubusercontent.com/Nelius1k/EECS3401_FinalProject-data/main/CO2%20emission%20by%20countries.csv"
url2 = "https://raw.githubusercontent.com/Nelius1k/EECS3401_FinalProject-data/main/world_population.csv"
df1 = pd.read_csv(url, encoding='unicode_escape')
df2 = pd.read_csv(url2, encoding='unicode_escape')


# Let's create a backup copy of the dataset
#df_backup = df.copy()

In [18]:
df2

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El AaiÃºn,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [19]:
# Drop null values from the dataset 1
df1_clean = df1.dropna(inplace=False)

# Check the number of non-null values
df1_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48509 entries, 0 to 59619
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country              48509 non-null  object
 1   Code                 48509 non-null  object
 2   Calling Code         48509 non-null  object
 3   Year                 48509 non-null  int64
 4   CO2 emission (Tons)  48509 non-null  float64
 5   Population(2022)     48509 non-null  float64
 6   Area                 48509 non-null  float64
 7   % of World           48509 non-null  object
 8   Density(km2)         48509 non-null  object
dtypes: float64(3), int64(1), object(5)
memory usage: 3.7+ MB

In [20]:
# Keeping only rows where CO2 does not equal 0 in dataset 1
df1_clean = df1[df1['CO2 emission (Tons)'] != 0]

# Check the values in our cleaned up Dataframe
df1_clean

,Country,Code,Calling Code,Year,CO2 emission (Tons),Population(2022),Area,% of World,Density(km2)
199,Afghanistan,AF,93,1949,14656.0,41128771.0,652230.0,0.40%,63/km²
200,Afghanistan,AF,93,1950,98928.0,41128771.0,652230.0,0.40%,63/km²
201,Afghanistan,AF,93,1951,190528.0,41128771.0,652230.0,0.40%,63/km²
202,Afghanistan,AF,93,1952,282128.0,41128771.0,652230.0,0.40%,63/km²
203,Afghanistan,AF,93,1953,388384.0,41128771.0,652230.0,0.40%,63/km²
...,...,...,...,...,...,...,...,...,...
59615,Zimbabwe,ZW,263,2016,736467042.0,16320537.0,390757.0,0.30%,42/km²
59616,Zimbabwe,ZW,263,2017,746048675.0,16320537.0,390757.0,0.30%,42/km²
59617,Zimbabwe,ZW,263,2018,757903042.0,16320537.0,390757.0,0.30%,42/km²
59618,Zimbabwe,ZW,263,2019,768852126.0,16320537.0,390757.0,0.30%,42/km²
59619,Zimbabwe,ZW,263,2020,779383468.0,16320537.0,390757.0,0.30%,42/km²

In [21]:
# List of years available in both Datasets
valid_years = [1970, 1980, 1990, 2000, 2010, 2015, 2020]

df1_clean = df1[df1['Year'].isin(valid_years)]

df1_clean.head(5)

,Country,Code,Calling Code,Year,CO2 emission (Tons),Population(2022),Area,% of World,Density(km2)
220,Afghanistan,AF,93,1970,12192704.0,41128771.0,652230.0,0.40%,63/km²
230,Afghanistan,AF,93,1980,31793984.0,41128771.0,652230.0,0.40%,63/km²
240,Afghanistan,AF,93,1990,59182404.0,41128771.0,652230.0,0.40%,63/km²
250,Afghanistan,AF,93,2000,71679740.0,41128771.0,652230.0,0.40%,63/km²
260,Afghanistan,AF,93,2010,100148964.0,41128771.0,652230.0,0.40%,63/km²

In [22]:
# Drop irrelevant columns
columns_to_drop = ['Area (kmÂ²)', 'Density (per kmÂ²)', 'Growth Rate', 'World Population Percentage', '2022 Population', 'Capital', 'Continent', 'Rank', "CCA3"]
df2_clean = df2.drop(columns_to_drop, inplace=False, axis=1)

In [23]:
df2_clean

,Country/Territory,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population
0,Afghanistan,38972230,33753499,28189672,19542982,10694796,12486631,10752971
1,Albania,2866849,2882481,2913399,3182021,3295066,2941651,2324731
2,Algeria,43451666,39543154,35856344,30774621,25518074,18739378,13795915
3,American Samoa,46189,51368,54849,58230,47818,32886,27075
4,Andorra,77700,71746,71519,66097,53569,35611,19860
...,...,...,...,...,...,...,...,...
229,Wallis and Futuna,11655,12182,13142,14723,13454,11315,9377
230,Western Sahara,556048,491824,413296,270375,178529,116775,76371
231,Yemen,32284046,28516545,24743946,18628700,13375121,9204938,6843607
232,Zambia,18927715,16248230,13792086,9891136,7686401,5720438,4281671
233,Zimbabwe,15669666,14154937,12839771,11834676,10113893,7049926,5202918

In [24]:
# Rename columns
df2.columns.tolist()
df2_clean = df2_clean.rename(columns = {"2020 Population":"2020", "2015 Population":"2015", "2010 Population":"2010", "2000 Population":"2000", "1990 Population":"1990", 
                      "1980 Population":"1980", "1970 Population":"1970"}, inplace = False)

df2_clean

,Country/Territory,2020,2015,2010,2000,1990,1980,1970
0,Afghanistan,38972230,33753499,28189672,19542982,10694796,12486631,10752971
1,Albania,2866849,2882481,2913399,3182021,3295066,2941651,2324731
2,Algeria,43451666,39543154,35856344,30774621,25518074,18739378,13795915
3,American Samoa,46189,51368,54849,58230,47818,32886,27075
4,Andorra,77700,71746,71519,66097,53569,35611,19860
...,...,...,...,...,...,...,...,...
229,Wallis and Futuna,11655,12182,13142,14723,13454,11315,9377
230,Western Sahara,556048,491824,413296,270375,178529,116775,76371
231,Yemen,32284046,28516545,24743946,18628700,13375121,9204938,6843607
232,Zambia,18927715,16248230,13792086,9891136,7686401,5720438,4281671
233,Zimbabwe,15669666,14154937,12839771,11834676,10113893,7049926,5202918

### Making sure table 2 only has the same country names as table 1

In [25]:
# Extract unique country names from Table 1
unique_countries_df1 = df1_clean['Country'].unique()

# Filter rows in Table 1 based on whether the country name exists in Table 2
df2_clean = df2_clean[df2_clean['Country/Territory'].isin(unique_countries_df1)]

# Print or use the modified DataFrame as needed
df2_clean

,Country/Territory,2020,2015,2010,2000,1990,1980,1970
0,Afghanistan,38972230,33753499,28189672,19542982,10694796,12486631,10752971
1,Albania,2866849,2882481,2913399,3182021,3295066,2941651,2324731
2,Algeria,43451666,39543154,35856344,30774621,25518074,18739378,13795915
4,Andorra,77700,71746,71519,66097,53569,35611,19860
5,Angola,33428485,28127721,23364185,16394062,11828638,8330047,6029700
...,...,...,...,...,...,...,...,...
228,Vietnam,96648685,92191398,87411012,79001142,66912613,52968270,41928849
229,Wallis and Futuna,11655,12182,13142,14723,13454,11315,9377
231,Yemen,32284046,28516545,24743946,18628700,13375121,9204938,6843607
232,Zambia,18927715,16248230,13792086,9891136,7686401,5720438,4281671
233,Zimbabwe,15669666,14154937,12839771,11834676,10113893,7049926,5202918

In [27]:
# Set index for df1_clean to 'Country' and 'Year'
df1_clean.set_index(['Country', 'Year'], inplace=True)

# Transpose df2_clean to make the year the index
df2_transposed = df2_clean.set_index('Country/Territory').T

# Update the 'Population(2022)' column in df1_clean
for index, row in df1_clean.iterrows():
    country, year = index
    # Check if the country and year exist in df2_transposed and update population
    if country in df2_transposed.columns and str(year) in df2_transposed.index:
        df1_clean.at[index, 'Population(2022)'] = df2_transposed.at[str(year), country]

# Reset index to bring 'Country' and 'Year' back as columns
df1_clean.reset_index(inplace=True)

df1_clean

,Country,Year,Code,Calling Code,CO2 emission (Tons),Population(2022),Area,% of World,Density(km2)
0,Afghanistan,1970,AF,93,12192704.0,10752971.0,652230.0,0.40%,63/km²
1,Afghanistan,1980,AF,93,31793984.0,12486631.0,652230.0,0.40%,63/km²
2,Afghanistan,1990,AF,93,59182404.0,10694796.0,652230.0,0.40%,63/km²
3,Afghanistan,2000,AF,93,71679740.0,19542982.0,652230.0,0.40%,63/km²
4,Afghanistan,2010,AF,93,100148964.0,28189672.0,652230.0,0.40%,63/km²
...,...,...,...,...,...,...,...,...,...
1535,Zimbabwe,1990,ZW,263,422536707.0,10113893.0,390757.0,0.30%,42/km²
1536,Zimbabwe,2000,ZW,263,575718298.0,11834676.0,390757.0,0.30%,42/km²
1537,Zimbabwe,2010,ZW,263,672134841.0,12839771.0,390757.0,0.30%,42/km²
1538,Zimbabwe,2015,ZW,263,725729475.0,14154937.0,390757.0,0.30%,42/km²
1539,Zimbabwe,2020,ZW,263,779383468.0,15669666.0,390757.0,0.30%,42/km²

In [ ]:
# Rename columns
df1.columns.tolist()
df1.rename(columns = {"% of World":"Percentage of world"}, inplace = True)

# Change string columns to float
df1["Percentage of world"] = df1["Percentage of world"].str.replace("%", "", regex=True)
df1["Percentage of world"] = pd.to_numeric(df1["Percentage of world"], errors='coerce')

df1["Density(km2)"] = df1["Density(km2)"].str.replace("/km²", "", regex=True)
df1["Density(km2)"] = df1["Density(km2)"].replace(',','.', regex=True)
df1["Density(km2)"] = pd.to_numeric(df1["Density(km2)"], errors='coerce')

In [83]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1233 entries, 220 to 59619
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country              1233 non-null   object
 1   Code                 1233 non-null   object
 2   Calling Code         1233 non-null   object
 3   Year                 1233 non-null   int64
 4   CO2 emission (Tons)  1233 non-null   float64
 5   Population(2022)     1233 non-null   float64
 6   Area                 1233 non-null   float64
 7   Percentage of world  1233 non-null   float64
 8   Density(km2)         1233 non-null   float64
dtypes: float64(5), int64(1), object(3)
memory usage: 96.3+ KB

In [9]:
# List of columns to be dropped

df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Rank                         234 non-null    int64
 1   CCA3                         234 non-null    object
 2   Country/Territory            234 non-null    object
 3   Capital                      234 non-null    object
 4   Continent                    234 non-null    object
 5   2022 Population              234 non-null    int64
 6   2020 Population              234 non-null    int64
 7   2015 Population              234 non-null    int64
 8   2010 Population              234 non-null    int64
 9   2000 Population              234 non-null    int64
 10  1990 Population              234 non-null    int64
 11  1980 Population              234 non-null    int64
 12  1970 Population              234 non-null    int64
 13  Area (kmÂ²)                  234 non-null    int64
 14  Density (per kmÂ²)           234 non-null    float64
 15  Growth Rate                  234 non-null    float64
 16  World Population Percentage  234 non-null    float64
dtypes: float64(3), int64(10), object(4)
memory usage: 31.2+ KB

### 2.1 Look at the data structure

In [7]:
countries_emissions.head(25)

,Country,Code,Calling Code,Year,CO2 emission (Tons),Population(2022),Area,% of World,Density(km2)
0,Afghanistan,AF,93,1750,0.0,41128771.0,652230.0,0.40%,63/km²
1,Afghanistan,AF,93,1751,0.0,41128771.0,652230.0,0.40%,63/km²
2,Afghanistan,AF,93,1752,0.0,41128771.0,652230.0,0.40%,63/km²
3,Afghanistan,AF,93,1753,0.0,41128771.0,652230.0,0.40%,63/km²
4,Afghanistan,AF,93,1754,0.0,41128771.0,652230.0,0.40%,63/km²
5,Afghanistan,AF,93,1755,0.0,41128771.0,652230.0,0.40%,63/km²
6,Afghanistan,AF,93,1756,0.0,41128771.0,652230.0,0.40%,63/km²
7,Afghanistan,AF,93,1757,0.0,41128771.0,652230.0,0.40%,63/km²
8,Afghanistan,AF,93,1758,0.0,41128771.0,652230.0,0.40%,63/km²
9,Afghanistan,AF,93,1759,0.0,41128771.0,652230.0,0.40%,63/km²
10,Afghanistan,AF,93,1760,0.0,41128771.0,652230.0,0.40%,63/km²
11,Afghanistan,AF,93,1761,0.0,41128771.0,652230.0,0.40%,63/km²
12,Afghanistan,AF,93,1762,0.0,41128771.0,652230.0,0.40%,63/km²
13,Afghanistan,AF,93,1763,0.0,41128771.0,652230.0,0.40%,63/km²
14,Afghanistan,AF,93,1764,0.0,41128771.0,652230.0,0.40%,63/km²
15,Afghanistan,AF,93,1765,0.0,41128771.0,652230.0,0.40%,63/km²
16,Afghanistan,AF,93,1766,0.0,41128771.0,652230.0,0.40%,63/km²
17,Afghanistan,AF,93,1767,0.0,41128771.0,652230.0,0.40%,63/km²
18,Afghanistan,AF,93,1768,0.0,41128771.0,652230.0,0.40%,63/km²
19,Afghanistan,AF,93,1769,0.0,41128771.0,652230.0,0.40%,63/km²
20,Afghanistan,AF,93,1770,0.0,41128771.0,652230.0,0.40%,63/km²
21,Afghanistan,AF,93,1771,0.0,41128771.0,652230.0,0.40%,63/km²
22,Afghanistan,AF,93,1772,0.0,41128771.0,652230.0,0.40%,63/km²
23,Afghanistan,AF,93,1773,0.0,41128771.0,652230.0,0.40%,63/km²
24,Afghanistan,AF,93,1774,0.0,41128771.0,652230.0,0.40%,63/km²

In [4]:
countries_emissions.describe()

               Year  CO2 emission (Tons)  Population(2022)          Area
count  59620.000000         5.962000e+04      5.311600e+04  5.528400e+04
mean    1885.000000         1.034774e+09      3.992260e+07  6.522073e+05
std       78.231085         1.041652e+10      1.482365e+08  1.865483e+06
min     1750.000000         0.000000e+00      1.131200e+04  2.100000e+01
25%     1817.000000         0.000000e+00      1.770414e+06  1.770450e+04
50%     1885.000000         0.000000e+00      8.673095e+06  1.103815e+05
75%     1953.000000         8.715092e+06      2.862920e+07  4.925730e+05
max     2020.000000         4.170000e+11      1.425887e+09  1.709824e+07

In [5]:
# Check the number of non-null values
countries_emissions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59620 entries, 0 to 59619
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country              59620 non-null  object
 1   Code                 57452 non-null  object
 2   Calling Code         56097 non-null  object
 3   Year                 59620 non-null  int64
 4   CO2 emission (Tons)  59620 non-null  float64
 5   Population(2022)     53116 non-null  float64
 6   Area                 55284 non-null  float64
 7   % of World           55284 non-null  object
 8   Density(km2)         53116 non-null  object
dtypes: float64(3), int64(1), object(5)
memory usage: 4.1+ MB

## 3 Clean the data

In [6]:
# Check for duplicate values
countries_emissions.duplicated().sum()

0

In [8]:
# Find the number of missing values in each column
countries_emissions.isna().sum()

Country                   0
Code                   2168
Calling Code           3523
Year                      0
CO2 emission (Tons)       0
Population(2022)       6504
Area                   4336
% of World             4336
Density(km2)           6504
dtype: int64

In [9]:
# Find the total number of '0' values in each column
(countries_emissions == 0).sum()

Country                    0
Code                       0
Calling Code               0
Year                       0
CO2 emission (Tons)    37913
Population(2022)           0
Area                       0
% of World                 0
Density(km2)               0
dtype: int64

In [12]:
# Drop the rows with value '0'
countries_emissions_filtered = countries_emissions.loc[countries_emissions["CO2 emission (Tons)"] != 0]

# Display the resulting DataFrame
countries_emissions_filtered

,Country,Code,Calling Code,Year,CO2 emission (Tons),Population(2022),Area,% of World,Density(km2)
199,Afghanistan,AF,93,1949,14656.0,41128771.0,652230.0,0.40%,63/km²
200,Afghanistan,AF,93,1950,98928.0,41128771.0,652230.0,0.40%,63/km²
201,Afghanistan,AF,93,1951,190528.0,41128771.0,652230.0,0.40%,63/km²
202,Afghanistan,AF,93,1952,282128.0,41128771.0,652230.0,0.40%,63/km²
203,Afghanistan,AF,93,1953,388384.0,41128771.0,652230.0,0.40%,63/km²
...,...,...,...,...,...,...,...,...,...
59615,Zimbabwe,ZW,263,2016,736467042.0,16320537.0,390757.0,0.30%,42/km²
59616,Zimbabwe,ZW,263,2017,746048675.0,16320537.0,390757.0,0.30%,42/km²
59617,Zimbabwe,ZW,263,2018,757903042.0,16320537.0,390757.0,0.30%,42/km²
59618,Zimbabwe,ZW,263,2019,768852126.0,16320537.0,390757.0,0.30%,42/km²
59619,Zimbabwe,ZW,263,2020,779383468.0,16320537.0,390757.0,0.30%,42/km²

In [13]:
# Find the number of missing values
countries_emissions_filtered.isna().sum()

Country                   0
Code                    747
Calling Code           1059
Year                      0
CO2 emission (Tons)       0
Population(2022)       1561
Area                   1038
% of World             1038
Density(km2)           1561
dtype: int64